spring:
  application:
    name: task-service
  datasource:
    url: jdbc:postgresql://localhost:57105/mydatabase
    username: myuser
    password: mypassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        bytecode:
          provider: none
        dialect: org.hibernate.dialect.PostgreSQLDialect
        globally_quoted_identifiers: false
        format_sql: true

server:
  port: 8083

logging:
  level:
    org.springframework.security: DEBUG
