version: '3.8'

services:
  db:
    image: postgres:17
    container_name: my_postgres_db
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "57105:5432"
    volumes:
      - ./scripts/migrations/init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
